{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #fff;
}


i {
    color: #fff;
}

/* nav */

.nav {
    background-color: #F4896B;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav .nav_primero, .nav_ultimo {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.nav .nav_primero {
    column-gap: 1em;
    grid-template-columns: repeat(4, auto);
}

.nav .nav_primero .img_logo_principal {
    height: 2em;
}

.nav .nav_primero .nav_pagina:hover::after {
    font-family:'Bootstrap-icons';
    content: "\F22C";
    padding: 0 0 0 0.2em;
    vertical-align: -0.2em;
}

.nav .nav_ultimo {
    justify-items: right;
}

.nav .nav_ultimo i {
    cursor: pointer;
}

.nav .nav_ultimo .logo_persona:hover::after {
    font-family:'Bootstrap-icons';
    content: "\F138";
    padding: 0 0 0 0.2em;
    vertical-align: -0.2em;
    color: #fff;
    cursor: pointer;
}

/* lista sabores */

.nuestros_sabores {
    font-family: 'Carattere', cursive;
    font-size: 4em;
    text-align: center;
    color: #04C4D9;
    margin-top: 15px;
}

.sabores {
    padding: 10em 0;
    display: grid;
    justify-self: center;
    align-self: center;
    font-weight: 700;
}

.lista_sabores {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1em;
    row-gap: 1em;
    
}

.sabores .lista_sabores .listas_particulares {
    margin: 1em;
    padding: 2em;
    border-radius: 2em;
    background-color:#71cad4;
    text-align: center;
}

.sabores .lista_sabores .listas {
    font-family: 'Carattere', cursive;
    font-size: 3em;
    color: #ffffff;

}
.gustos{
    color:white;
    font-family: 'Roboto', sans-serif;

}

/*article*/
.mas_productos{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    background-color:  #FFB8A1;
    border-radius: 2rem;
}

.tipo_producto{
    padding-top: 30px;
    font-family: 'Carattere', cursive;
    font-size: 3em;
    color: #ffffff;
}

.helados{
    border-radius: 100%;
}
.tacc{
    text-align: center;
}
.cada_sabor{
    font-size: 35px;
    text-align: center;
}
/*footer*/
footer {
    background-color: #F4896B;
    text-align: center;
    color: #fff;
    margin-top: 25px;
}

.container_footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

.redes_footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 1em;
    margin: 1em 2em;
}

.nombre_footer{
    font-family: 'Carattere', cursive;
}

.subtitulo {
    font-size: 20px;
}
.qr{
padding-top: 40px;}


/*media querys */

@media (max-width:922px) {
    header {
       display: flex;
       flex-direction: column;
    }

    
}
